  <main>
        <div *ngIf="isAdmin" class="estatisticas">
          <h2>Estatísticas do Sistema</h2>
          <div class="estatistica">
            <h3>Alunos</h3>
            <p>{{ estatisticas.numeroAlunos }}</p>
          </div>
          <div class="estatistica">
            <h3>Docentes</h3>
            <p>{{ estatisticas.numeroDocentes }}</p>
          </div>
          <div class="estatistica">
            <h3>Turmas</h3>
            <p>{{ estatisticas.numeroTurmas }}</p>
          </div>
        </div>

    <div *ngIf="isAdmin || isDocente" class="alunos">
        <app-card
          *ngFor="let aluno of alunos"
          [aluno]="aluno">
        </app-card>
      </div>
  </main>

